.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
    height: 768px;
    margin: auto;
    background: linear-gradient(180deg, #0837B0 0%, #021E66 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.counter_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-bottom: 34px;

}

.counter_block h1 {
    margin: auto auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 176px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_block {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_block .btn_row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 34px;

}

.btn_block .btn_row .btn {
    width: 65px;
    height: 65px;
    border-radius: 4px;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btn_block .btn_row .inc {
    background-color: #089C20;
    background-image: url('./images/Plus.png');
    background-position: 80% 80%;
}


.btn_block .btn_row .dec {
    background-color: #E7AA10;
    background-image: url('./images/Minus.png');
    background-position: 80% 60%;
}

.btn_block .btn_row .res {
    background-color: #CF1C1C;
    background-image: url('./images/Reset.png');
    background-position: 80% 80%;
}

.btn_block .btn_row .dwl {
    background-color:#30D9CF;
    background-image: url('./images/downloadIcon.png');
    background-position: 80% 80%;
}

.btn_block .btn_row .upl {
    background-color: #9B0F9E;
    background-image: url('./images/uploadIcon.png');
    background-position: 80% 80%;
}